@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-8 d-flex justify-content-center">
        <canvas id='canvas' width='700' height='690'>
            Canvas not supported, use another browser.
        </canvas>
    </div>
    <div class="col-3">
        <button type="button" onclick="startSpin()">Spin</button>
        <button type="button" onclick="resetSpin()">Reset</button>
        <button type="button" onclick="getQuestions()">Get QA</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}